<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<head>
    <title th:text="#{email.activation.title}"></title>
    <meta th:replace="mail/fragments/meta.html"/>
    <style th:replace="mail/fragments/style.html"></style>
</head>
<div th:replace="mail/fragments/bodyStart.html"></div>
<div th:replace="mail/fragments/logoHeader.html"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=#{email.activation.greeting(${user.login})},textBody=(|#{email.activation.text1} #{email.activation.text2}|))"></div>
<div
    th:replace="mail/fragments/button.html :: buttonValue (link=(@{|${baseUrl}/confirm/${user.activationKey}|}),text=#{email.activation.link.text})"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=null,textBody=#{email.activation.text3})"></div>
<div th:replace="mail/fragments/signature.html"></div>
<div th:replace="mail/fragments/spacer.html"></div>
<div th:replace="mail/fragments/socialLinks.html"></div>
<div th:replace="mail/fragments/privacy.html"></div>
<div th:replace="mail/fragments/bodyEnd.html"></div>
</html>
