<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<head>
    <title th:text="#{email.farm.delete.title}"></title>
    <meta th:replace="mail/fragments/meta.html"/>
    <style th:replace="mail/fragments/style.html"></style>
</head>
<div th:replace="mail/fragments/bodyStart.html"></div>
<div th:replace="mail/fragments/logoHeader.html"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=#{email.farm.delete.greeting},textBody= #{email.farm.delete.text1})"></div>
<div
    th:replace="mail/fragments/button.html :: buttonValue (link=(@{|${baseUrl}/farm/confirmdelete/${user.deletionKey}|}),text=#{email.farm.delete.link.text})"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=null,textBody=#{email.farm.delete.text3})"></div>
<div th:replace="mail/fragments/signature.html"></div>
<div th:replace="mail/fragments/spacer.html"></div>
<div th:replace="mail/fragments/socialLinks.html"></div>
<div th:replace="mail/fragments/privacy.html"></div>
<div th:replace="mail/fragments/bodyEnd.html"></div>
</html>
