<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<head>
    <title th:text="#{email.helper.task.deactivated.title}"></title>
    <meta th:replace="mail/fragments/meta.html"/>
    <style th:replace="mail/fragments/style.html"></style>
</head>
<div th:replace="mail/fragments/bodyStart.html"></div>
<div th:replace="mail/fragments/logoHeader.html"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=#{email.helper.greeting},textBody= #{email.helper.task.deleted.text1(${task?.title})})"></div>
<div
    th:replace="mail/fragments/workingDaysList.html :: textValue (listElements=${offer.guaranteedDays})"></div>
<div th:replace="mail/fragments/signature.html"></div>
<div th:replace="mail/fragments/spacer.html"></div>
<div th:replace="mail/fragments/socialLinks.html"></div>
<div th:replace="mail/fragments/privacy.html"></div>
<div th:replace="mail/fragments/bodyEnd.html"></div>
</html>
