<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<head>
    <title th:text="#{email.farm.task.new.offer.title}"></title>
    <meta th:replace="mail/fragments/meta.html"/>
    <style th:replace="mail/fragments/style.html"></style>
</head>
<div th:replace="mail/fragments/bodyStart.html"></div>
<div th:replace="mail/fragments/logoHeader.html"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=#{email.general.greeting(${user.firstName})},textBody= #{email.farm.task.new.offer.text1(${offer?.helper?.firstname},${task?.title})})"></div>
<div
    th:replace="mail/fragments/button.html :: buttonValue (link=(@{|${baseUrl}/task/${task.id}|}),text=#{email.general.farmer.task.text})"></div>
<div th:replace="mail/fragments/signature.html"></div>
<div th:replace="mail/fragments/spacer.html"></div>
<div th:replace="mail/fragments/socialLinks.html"></div>
<div th:replace="mail/fragments/privacy.html"></div>
<div th:replace="mail/fragments/bodyEnd.html"></div>
</html>
