<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<head>
    <title th:text="#{email.helper.task.deleted.title}"></title>
    <meta th:replace="mail/fragments/meta.html"/>
    <style th:replace="mail/fragments/style.html"></style>
</head>
<div th:replace="mail/fragments/bodyStart.html"></div>
<div th:replace="mail/fragments/logoHeader.html"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=#{email.helper.task.deleted.greeting},textBody= #{email.helper.task.deleted.text1(${task?.farm?.name},${task?.title})})"></div>
<div
    th:replace="mail/fragments/workingDaysList.html :: textValue (listElements=${offer.guaranteedDays})"></div>
<div
    th:replace="mail/fragments/textBlock.html :: textValue (headerText=null,textBody=#{email.helper.task.deleted.text2})"></div>
<div
    th:replace="mail/fragments/button.html :: buttonValue (link=(@{|${baseUrl}/helping|}),text=#{email.helper.dashboard.link.text})"></div>
<div th:replace="mail/fragments/signature.html"></div>
<div th:replace="mail/fragments/spacer.html"></div>
<div th:replace="mail/fragments/socialLinks.html"></div>
<div th:replace="mail/fragments/privacy.html"></div>
<div th:replace="mail/fragments/bodyEnd.html"></div>
</html>
