<html xmlns:th="http://www.thymeleaf.org">

<table
    th:fragment="buttonValue (link,text)"
    cellpadding="0" cellspacing="0" class="es-content" align="center"
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
  <tr style="border-collapse:collapse;">
    <td align="center" style="padding:0;Margin:0;">
      <table bgcolor="#ffffff" class="es-content-body" align="center"
             cellpadding="0" cellspacing="0" width="600"
             style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
        <tr style="border-collapse:collapse;">
          <td align="left"
              style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
            <table cellpadding="0" cellspacing="0" width="100%"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
              <tr style="border-collapse:collapse;">
                <td width="560" align="center" valign="top"
                    style="padding:0;Margin:0;">
                  <table cellpadding="0" cellspacing="0"
                         width="100%" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td align="left"
                          style="padding:0;Margin:0;padding-bottom:10px;">
                                                                <span class="es-button-border"
                                                                      style="border-style:solid;border-color:#808080;background:#9AAA25;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a
                                                                    th:href="${link}"
                                                                    class="es-button"
                                                                    target="_blank"
                                                                    style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#F6F6F6;border-style:solid;border-color:#9AAA25;border-width:5px 30px 5px 30px;display:inline-block;background:#9AAA25;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center;"
                                                                    th:text="${text}">
                                                                  Button
                                                                </a></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
