<html xmlns:th="http://www.thymeleaf.org">

<table class="es-content" cellspacing="0" cellpadding="0" align="center"
       style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
  <tr style="border-collapse:collapse;"></tr>
  <tr style="border-collapse:collapse;">
    <td class="es-adaptive" align="center" style="padding:0;Margin:0;">
      <table class="es-header-body" width="600" cellspacing="0"
             cellpadding="0" align="center"
             style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;">
        <tr style="border-collapse:collapse;">
          <td style="Margin:0;padding-top:15px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-color:#FFFFFF;"
              bgcolor="#ffffff" align="left">
            <!--[if mso]>
            <table width="560" cellpadding="0" cellspacing="0">
              <tr>
                <td width="180" valign="top"><![endif]-->
            <table class="es-left" cellspacing="0" cellpadding="0"
                   align="left"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
              <tr style="border-collapse:collapse;">
                <td class="es-m-p0r" width="180" valign="top"
                    align="center" style="padding:0;Margin:0;">
                  <table width="100%" cellspacing="0"
                         cellpadding="0" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td class="es-m-p0l es-m-txt-c"
                          align="center"
                          style="padding:0;Margin:0;font-size:0px;">
                        <a th:href="${baseUrl}"
                           target="_blank"
                           style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                            th:src="(@{|${baseUrl}/img/logo.png|})"
                            th:alt="#{website.link.text}"
                            style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"
                            width="180"
                            th:title="#{website.link.text}"></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </tr>
      </table>
    </td>
  </tr>
</table>
