<html xmlns:th="http://www.thymeleaf.org">

<table cellpadding="0" cellspacing="0" class="es-footer" align="center"
       style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
  <tr style="border-collapse:collapse;">
    <td align="center" style="padding:0;Margin:0;">
      <table class="es-footer-body"
             style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#494646;"
             width="600" cellspacing="0" cellpadding="0" bgcolor="#494646"
             align="center">
        <tr style="border-collapse:collapse;">
          <td align="left"
              style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
            <table width="100%" cellspacing="0" cellpadding="0"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
              <tr style="border-collapse:collapse;">
                <td width="560" valign="top" align="center"
                    style="padding:0;Margin:0;">
                  <table width="100%" cellspacing="0"
                         cellpadding="0" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td align="center"
                          style="padding:0;Margin:0;">
                        <p
                            style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">
                          <a target="_blank"
                             style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:13px;text-decoration:underline;color:#FFFFFF;"
                             th:href="${baseUrl}"
                             th:text="#{website.link.text}"
                          ></a></p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="border-collapse:collapse;">
          <td align="left"
              style="Margin:0;padding-bottom:15px;padding-top:20px;padding-left:20px;padding-right:20px;">
            <table width="100%" cellspacing="0" cellpadding="0"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
              <tr style="border-collapse:collapse;">
                <td width="560" valign="top" align="center"
                    style="padding:0;Margin:0;">
                  <table width="100%" cellspacing="0"
                         cellpadding="0" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td align="center"
                          style="padding:0;Margin:0;"><p th:text="#{email.privacy.text}"
                                                         style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:20px;color:#BDBDBD;">
                      </p></td>
                    </tr>
                    <tr style="border-collapse:collapse;">
                      <td align="center"
                          style="padding:0;Margin:0;padding-top:5px;">
                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:20px;color:#FFFFFF;">
                          <a target="_blank"
                             style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:13px;text-decoration:underline;color:#FFFFFF;"
                             th:href="(@{|${baseUrl}/privacy|})"
                             th:text="#{website.privacy.link.text}">Privacy</a> | <a
                            target="_blank"
                            style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:13px;text-decoration:underline;color:#FFFFFF;"
                            th:href="(@{|${baseUrl}/imprint|})"
                            th:text="#{website.imprint.link.text}">Imprint</a></p></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
