<table class="es-content" cellspacing="0" cellpadding="0" align="center"
       style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
  <tr style="border-collapse:collapse;">
    <td align="center" style="padding:0;Margin:0;">
      <table class="es-content-body"
             style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;"
             width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
             align="center">
        <tr style="border-collapse:collapse;">
          <td align="left"
              style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
            <!--[if mso]>
            <table width="560" cellpadding="0"
                   cellspacing="0">
              <tr>
                <td width="278" valign="top"><![endif]-->
            <table class="es-left" cellspacing="0" cellpadding="0"
                   align="left"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
              <tr style="border-collapse:collapse;">
                <td width="278" align="left"
                    style="padding:0;Margin:0;">
                  <table width="100%" cellspacing="0"
                         cellpadding="0" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td class="es-m-txt-c" align="left"
                          style="padding:0;Margin:0;padding-top:5px;font-size:0;">
                        <table
                            class="es-table-not-adapt es-social"
                            cellspacing="0" cellpadding="0"
                            role="presentation"
                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                          <tr style="border-collapse:collapse;">
                            <td valign="top"
                                align="center"
                                style="padding:0;Margin:0;padding-right:10px;">
                              <a target="_blank"
                                 href="https://www.instagram.com/ernteerfolg"
                                 style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                                  title="Instagramm"
                                  src="https://hehanf.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png"
                                  alt="Instagramm" width="32"
                                  style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a>
                            </td>
                            <td valign="top"
                                align="center"
                                style="padding:0;Margin:0;padding-right:10px;">
                              <a target="_blank"
                                 href="https://www.facebook.com/ernteerfolg"
                                 style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                                  title="Facebook"
                                  src="https://hehanf.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png"
                                  alt="Facebook" width="32"
                                  style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a>
                            </td>
                            <td valign="top"
                                align="center"
                                style="padding:0;Margin:0;padding-right:10px;">
                              <a target="_blank"
                                 href="https://twitter.com/ernte_erfolg"
                                 style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                                  title="Twitter"
                                  src="https://hehanf.stripocdn.email/content/assets/img/social-icons/logo-black/twitter-logo-black.png"
                                  alt="Twitter" width="32"
                                  style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a>
                            </td>
                            <td valign="top"
                                align="center"
                                style="padding:0;Margin:0;padding-right:10px;">
                              <a target="_blank"
                                 href="https://www.linkedin.com/company/ernteerfolg/"
                                 style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                                  title="Youtube"
                                  src="https://hehanf.stripocdn.email/content/assets/img/social-icons/logo-black/linkedin-logo-black.png"
                                  alt="Youtube" width="32"
                                  style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a>
                            </td>
                            <td valign="top"
                                align="center"
                                style="padding:0;Margin:0;padding-right:10px;">
                              <a target="_blank"
                                 href="https://www.gitlab.com/ernte-erfolg"
                                 style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333;"><img
                                  title="gitlab"
                                  src="https://stripo.email/static/assets/img/other-icons/circle-colored/github-circle-colored.png"
                                  alt="Yt" width="32"
                                  style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if mso]></td>
          <td width="0"></td>
          <td width="282" valign="top"><![endif]-->
            <!--[if mso]></td></tr></table><![endif]--></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
