<html xmlns:th="http://www.thymeleaf.org">

<table
    th:fragment="textValue (listElements)"
    cellpadding="0" cellspacing="0" class="es-content" align="center"
    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
  <tr style="border-collapse:collapse;">
    <td align="center" style="padding:0;Margin:0;">
      <table bgcolor="#ffffff" class="es-content-body" align="center"
             cellpadding="0" cellspacing="0" width="600"
             style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
        <tr style="border-collapse:collapse;">
          <td align="left"
              style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
            <table cellpadding="0" cellspacing="0" width="100%"
                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
              <tr style="border-collapse:collapse;">
                <td width="560" align="center" valign="top"
                    style="padding:0;Margin:0;">
                  <table cellpadding="0" cellspacing="0"
                         width="100%" role="presentation"
                         style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                    <tr style="border-collapse:collapse;">
                      <td class="es-m-txt-c" align="left"
                          style="padding:0;Margin:0;padding-bottom:10px;">
                        <ul th:if="${listElements != null}">
                          <li th:each="elem: ${listElements}"
                              th:with="df=#{date.format}"
                              style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;Margin-bottom:15px;color:#333333;">
                            <span th:text="${#temporals.format(elem.date, df)}"></span>
                            <span th:text="( @{|${elem.workingHours} #{hour.unit}|})"></span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
